.header {
  width: 100%;
  background-color: #202020;
  border-bottom: 1px solid #111;
  position: relative;
  z-index: 100;
}
.header .contanier {
  width: 85%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header .contanier .nav-links {
  display: flex;
  align-items: center;
}
.header .contanier .nav-links a,
.logo {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  text-transform: uppercase;
  transition: 0.3s;
}
.header .contanier .nav-links a:hover,
.header .contanier .nav-links a.active {
  color: #0099cc;
}
.header .contanier .nav-links .soc-links {
  margin-left: 40px;
}
.header .contanier .nav-links .soc-links a {
  font-size: 22px;
  margin-left: 15px;
}

#btn-menu {
  display: none;
}

@media (max-width: 1000px) {
  .header .contanier .nav-links a {
    font-size: 14px;
    margin-left: 20px;
  }
  .header .contanier .nav-links .soc-links {
    margin-left: 30px;
  }
}
@media (max-width: 750px) {
  #btn-menu {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 22px;
    border: 2px solid #fff;
    color: #0099cc;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 33px;
  }
  .header .contanier .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #444;
    flex-wrap: wrap;
    padding: 10px;
    border-top: 1px solid #d4d4d4a7;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.3s;
  }
  .header .contanier .nav-links.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .contanier .nav-links a {
    display: block;
    padding: 20px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4a7;
  }
  .header .contanier .nav-links .soc-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 20px 0 10px;
  }
  .header .contanier .nav-links .soc-links a {
    font-size: 25px;
    text-align: center;
    margin-left: 0;
    padding: 0;
    border-bottom: none;
  }
}

/* ****************************about me************************* */
.about {
  height: auto;
  display: flex;
  align-items: center;
  background: #fff;
  padding-top: 60px;
  padding-bottom: 160px;
}
.about_container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.grid_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
}
.text_part > * {
  margin-bottom: 1.1rem;
  color: #000;
}
.img_part img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.about_heading {
  color: #111;
  margin-top: 40px;
  font-weight: 300;
  font-size: 30px;
}
.about_heading span {
  font-weight: 500;
  font-size: 45px;
  color: #e43f5a;
}
.about_para {
  font-size: 18px;
}
@media (max-width: 768px) {
  .grid_section {
    grid-template-columns: 1fr;
  }
  .about {
    padding-top: 40px;
    padding-bottom: 100px;
  }
}
